{% extends 'index.html' %}
{% block content %}

<div class="cover">
    <div class="mycontents">
        <h1 class="minititle1" > 기본정보</h1>
        <br>
        <h2> MBC 2003.09.15. ~ 2004.09.24. 248부작 </h2>
        <h2> 공식홈페이지 : https://program.imbc.com/nonstop4 </h2>
        <h2> 문화 대학교의 밴드 동아리인 논스톱 밴드를 주무대로 펼쳐지는 대학생들의 사랑과 우정을 담은 청춘시트콤 </h2>
    </div>
    <div class="myimg">
    <center>
        <img src="https://search.pstatic.net/common?type=o&amp;size=174x242&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F57%2F0%2F0%2F156%2F156148.jpg" width="176" height="242" alt="논스톱 4 이미지">
    </center>
    </div>
</div>



{% endblock %}